@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');


.article {
  background-color: #e3914aec;
}

.nameBox {
  width: 100%;
  padding: 1rem 0;
}

.name {
  font-size: 34px;
  text-transform: capitalize;
  text-align: center;
  margin: 0;
}

.charImgContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

.charImgBackground {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  border: 1px solid rgb(0, 0, 0);
  padding: 1em 0;
  width: 600px;
  height: 500px;
  position: relative;
}

.charAttributesLeft,
.charAttributesRight {
  display: flex;
  height: 500px;
  flex-direction: column;
  justify-content: space-around;
  cursor: default;
  margin: 0 2rem;
}
.charAttributesLeft{
  position: absolute;
  left:0;
}
.charAttributesRight{
  position: absolute;
  right:0;
}
.charAttributes {
  text-transform: uppercase;
  font-family: 'Rajdhani', sans-serif;
  font-size: 30px;
  margin: 0;
  text-align: center;
  text-shadow: 0px 0px 3px rgb(250, 233, 0);
}

.charImgBox {
  display: flex;
  justify-content: center;
  width: 240px;
  height: 500px;

}

.charImg {
  z-index: 10;
  background-size: contain;
  width: auto;
  height: 100%;
}

.infoGerais {

  padding: 2rem 6rem;
}

.bioContainer {
  margin-top: 4rem;
}

.tituloBioBox {
  width: 100%;
}

.tituloBio,
.skillTitle {
  width: auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 42px;
  letter-spacing: 2px;
}

.textBio {
  font-size: 20px;
  line-height: 30px;
  margin: 0;

}

.skillContainer {
  width: 100%;
  height: auto;
  margin-top: 4rem;
}

.skillBoxText {
  padding: 0;
  list-style: none;
}

.skill {
  font-size: 28px;
  font-weight: 600;
  line-height: 4rem;
  cursor: default;
}

@media screen and (max-width:776px) {
  .charAttributes {
    font-size: 24px;
  }

}

@media screen and (max-width:500px) {
  .infoGerais {
    padding: 0 1rem 1rem;
  }

  .charImgBackground {
    width: 360px;
  }
  .charImgBox {
    display: flex;
    justify-content: center;
    width: 240px;
    height: 500px;
  
  }
  
  .charImg {
    z-index: 10;
    background-size: contain;
    width: auto;
  }

  .charAttributesLeft,
  .charAttributesRight {
    margin: 0rem;
    z-index: 1;
  }

}